/* line 6, ../sass/nomads_style.scss */
.title {
  color: #329276;
}
/* line 8, ../sass/nomads_style.scss */
.title h1 {
  font-size: 5.5em;
  font-weight: bold;
  text-shadow: 0px 0px 1px #494949;
}

/* line 15, ../sass/nomads_style.scss */
.navbar-nomads {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 0.0;
}

/* line 20, ../sass/nomads_style.scss */
.background_img {
  width: 100%;
  z-index: -10;
  position: fixed;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
