$gray: #DBE8E5;
$dark-gray: #494949;
$green:  #329276;


.title {
	color: $green;
	h1 {
		font-size: 5.5em;
		font-weight: bold;
		text-shadow: 0px 0px 1px $dark-gray;
	}
}

.navbar-nomads {
	background: rgba(100,100,100, 0.5);
	border-radius: 0.0;
}

.background_img {
	width: 100%;
	z-index: -10;
	position: fixed;
	background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}